body {
  margin: 80px auto;
}
body, button {
  background: black;
  color: white;
  text-align: center;
  font-family: 'Nova Flat', cursive;
  font-size: 30px;
  border: none;
  max-height: 700px;
}
h1 {
  margin-bottom: 8px;
}

/* the containers format */
.towercontainer {
  display: flex;
  justify-content: center;
  height: 250px;
}
.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
  height: 250px;
  width: 250px;
  overflow: hidden;
}

/* the blocks */
.bg {
  background: white;
}
.block, .cat {
  height: 40px;
  background-size: 50px;
}
#first, .cat {
  width: 50px;
}
#second, .cat {
  width: 100px;
}
#third, .cat {
  width: 150px;
}
#fourth, .cat{
  width: 200px;
}
#fifth, .cat {
  width: 250px;
}

/* moves, rules, and objectives */
.objective {
  text-align: center;
}
.objectives {
  margin-left: 30px;
}
.moves, .instructions {
  margin: 20px 30px;
  width: 200px;
  margin: 10px 30px 10px 10px;
}
.instructions {
  text-align: left;
  font-size: 20px;
  padding-right: 15px;
}
.rules {
  margin: 20px;
  font-size: 18px; 
}

/* silly code */
.cat {
  background-color: black;
  background-position-y: 5px;
  background-image: url('http://i0.kym-cdn.com/photos/images/newsfeed/000/117/424/tumblr_ljwaimhJcK1qa4ebfo1_500.gif?1303833934')
}

/* modes bar */
.easy, .hard, .meow, .hardest, .scary {
  font-size: 15px;
  text-align: end;
  margin-bottom: 20px;
  margin: 0 10px 20px 10px;
}

/* win message and silly code message */
.popup .youwin {
  visibility: hidden;
  text-align: center;
  font-size: 30px;
}
.popup .show {
  visibility: visible;
}
.popup1 .cheating {
  visibility: hidden;
  text-align: center;
  font-size: 15px;
  width: 200px;
  margin: 10px 0 0 30px;
}
.popup1 .show1 {
  visibility: visible;
}
