body, button {
  background: black;
  color: white;
  text-align: center;
  font-family: 'Nova Flat', cursive;
  font-size: 30px;
  border: none;
}
#objective {
  text-align: center;
}
img {
  width: 30px;
}
.towercontainer {
  display: flex;
  justify-content: center;
  height: 250px;
}
.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
  height: 250px;
  width: 250px;
}
.block {
  background: white;
  height: 40px;
}
#first, .cat {
  width: 50px;
  background-size: 50px;
}
#second, .cat {
  width: 100px;
  background-size: 50px;
}
#third, .cat {
  width: 150px;
  background-size: 50px;
}
#fourth, .cat{
  width: 200px;
  background-size: 50px;
}
#fifth, .cat {
  width: 250px;
  background-size: 50px;
}
.moves, .instructions {
  margin: 20px 30px;
  width: 200px;
  margin: 10px 30px 10px 10px;
}
.instructions {
  text-align: left;
  font-size: 20px;
  padding-right: 15px;
}
.rules {
  margin: 20px;
  font-size: 15px;
  
}
#rules {
  text-decoration: underline 1px;
}
.cat {
  background-image: url('http://i0.kym-cdn.com/photos/images/newsfeed/000/117/424/tumblr_ljwaimhJcK1qa4ebfo1_500.gif?1303833934')
}